@{

}


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        请关注
    </title>
    <meta name="description" />
    <meta name="keywords" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css" />
</head>
<body>
    <div style="text-align:center;padding:20px;">
        <img src="~/qrcode.jpg" width="80%"/>
    </div>
    <div class="weui-msg" id="nodatamsg">
        
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">请识别二维码关注</h2>
        </div>
    </div>
</body>
</html>