@{
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
    ViewBag.Title = "编码信息";
}

<iframe id="_hidden" name="_hidden" style="display:none"></iframe>
<div class="row hide" id="app">
    <div class="col-md-2">
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">按激活状态</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="display: block;">
                <ul class="nav nav-pills nav-stacked">
                    <li :class="{active:!querydata.Activate}">
                        <a href="#" @@click="filterby({Activate:''})">
                            <i class="fa fa-inbox"></i> 所有
                        </a>
                    </li>
                    <li :class="{active:querydata.Activate==-1}">
                        <a href="#" @@click="filterby({Activate:-1})">
                            <i class="fa fa-inbox"></i> 未激活
                        </a>
                    </li>
                    <li :class="{active:querydata.Activate==1}">
                        <a href="#" @@click="filterby({Activate:1})">
                            <i class="fa fa-inbox"></i> 已激活
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">按过期状态</h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding" style="display: block;">
                <ul class="nav nav-pills nav-stacked">
                    <li :class="{active:!querydata.Expired}">
                        <a href="#" @@click="filterby({Expired:''})">
                            <i class="fa fa-inbox"></i> 所有
                        </a>
                    </li>
                    <li :class="{active:querydata.Expired==-1}">
                        <a href="#" @@click="filterby({Expired:-1})">
                            <i class="fa fa-inbox"></i> 未过期
                        </a>
                    </li>
                    <li :class="{active:querydata.Expired==1}">
                        <a href="#" @@click="filterby({Expired:1})">
                            <i class="fa fa-inbox"></i> 已过期
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-sm-10">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">编码信息</h3>

                <div class="box-tools pull-right col-sm-3">
                    <div class="input-group input-group-sm" >
                        <input type="text" class="form-control" v-model="searchkey">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-info btn-flat" @@click="filterby({searchkey:searchkey})">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th><input type="checkbox" @@click="checkall" v-model="allchecked" /></th>
                        <th>头像</th>
                        <th>编码</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>联系人一</th>
                        <th>联系人二</th>
                        <th>生日</th>
                        <th>地址</th>
                        <th>提示</th>
                        <th>到期时间</th>
                        <th>操作</th>
                    </tr>
                    <tr v-for="(item,index) in pagedata.Items">
                        <td><input type="checkbox" :value="item.Id" name="member" v-model='checkedids' /></td>
                        <td>
                            @*<span class="label label-success" v-if="item.ActivateDate">已激活</span>*@
                            
                            <img :src="thumb(item.Photo,40)" style="cursor:pointer" @@click="showqrcode(item.Code)"/><br/><span class="label label-warning" v-if="!item.ActivateDate">未激活</span>
                        </td>
                        <td>{{item.Code}}</td>
                        <td>{{item.RealName}}</td>
                        <td>{{item.Sex}}</td>
                        <td>{{item.ContactName}}<br/>{{item.ContactMobile}}</td>
                        <td>{{item.ContactName2}}<br/>{{item.ContactMobile2}}</td>
                        <td>{{dateformat(item.BirthDay)}}</td>
                        <td>{{item.Address}}</td>                        
                        <td>{{item.Tip}}</td>
                        <td>{{dateformat(item.ExpireDate)}}</td>
                        <td>
                            
                                <div class="btn-group" >
                                    <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#submitform" @@click="currentindex=index" title="编辑">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </div>

                                <button type="button" class="btn btn-danger btn-sm" @@click="remove(item.Id)" title="删除">
                                    <i class="fa fa-close"></i>
                                </button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <pagination :page="page" :totalpage="totalpage" @@goto="gotopage"></pagination>
            </div>
        </div>
        <!-- /.box -->
        <div class="row no-print">
            <div class="col-xs-12">
                <div class="btn-group">
                    @if (TF.QR.Config.GetCurrentUser().DbRoleType == TF.QR.DbRoleType.Administrator)
                    {
                        <button type="button" class="btn bg-purple pull-left" data-toggle="modal" data-target="#submitform" @@click="currentindex=-1;currentitem={};">
                            <i class="fa fa-user"></i> 添加编码
                        </button>
                    }

                    <button type="button" class="btn bg-olive pull-left" @@click="doactivate()" v-if="checkedids.length>0">
                        <i class="fa fa-user"></i> 切换激活
                    </button>
                </div>
                <button type="button" class="btn btn-info" @@click="exportfile">导出</button>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="submitform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{currentindex==-1?"添加编码":"编辑编码"}}</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="form" action="post">
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">编码 </label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.Code" :readonly="currentindex!=-1">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">姓名</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.RealName">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label">头像</label>

                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <img :src="thumb(currentitem.Photo,20)" />
                                        </span>
                                        <input type="text" class="form-control" v-model="currentitem.Photo" readonly id="photo">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info btn-flat" @@click="addPic">上传</button>
                                            <input type="file" @@change="onFileChange" style="display: none;" accept='image/*' />
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">性别</label>

                                <div class="col-sm-9">
                                    <select class="form-control" v-model="currentitem.Sex">
                                        <option value="">未设定</option><option value="男">男</option><option value="女">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人一</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.ContactName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人一手机</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.ContactMobile">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人二</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.ContactName2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">联系人二手机</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.ContactMobile2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">生日</label>

                                <div class="col-sm-9">
                                    <input type="date" class="form-control" v-model="currentitem.BirthDay">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">地址</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">提示</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.Tip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">绑定验证码</label>

                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="currentitem.VerifyCode">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @@click="submit();">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

</div>

<div id="qrcode" style="text-align:center;padding-top:10px;display:none">

</div>

@section Footer{
<script src="https://cdn.bootcss.com/lrsjng.jquery-qrcode/0.14.0/jquery-qrcode.js"></script>
    <script>
        var page = new pageVue({
            el: "#app",
            data: {
                dataurl: "/data/qrstorage",
                searchkey:"",
                currentitem: {},
            },
            watch:{
            },
            methods: {
                doactivate: function () {
                    var _self = this;
                    layer.confirm('确认提交？', {
                        btn: ['确认', '取消'] //按钮
                    }, function (index) {
                        layer.close(index);
                        _self.$http.post(_self.dataurl + "activate", { ids: _self.checkedids.join(',') }, { emulateJSON: true }).then(function (data) {
                            _self.loaddata();
                            _self.checkedids = [];

                        });
                    }, function () {

                    });
                    
                },
                addPic: function (e) {
                    e.preventDefault();
                    $('input[type=file]').trigger('click');
                    return false;
                },

                onFileChange: function (e) {
                    var files = e.target.files || e.dataTransfer.files;
                    if (!files.length) return;
                    this.createImage(files);

                },
                createImage: function (file) {
                    if (typeof FileReader === 'undefined') {
                        layer.alert('您的浏览器不支持图片上传，请升级您的浏览器', { icon: 5 });
                        return false;
                    }
                    var image = new Image();
                    var reader = new FileReader();
                    var _self = this;
                    reader.readAsDataURL(file[0]);
                    reader.onload = function (e) {
                        console.log(e);
                        var filecontent = e.target.result;
                        _self.$http.post("/data/fileupload", { filename: file[0].name, filecontent: filecontent }, { emulateJSON: true }).then(function (data) {
                            var d = data.body;
                            _self.currentitem.Photo = d.item;
                            $("#photo").val(d.item);
                        });
                        //vm.images.push(e.target.result);
                    };
                },
                exportfile: function () {
                    var filterstr = JSON.stringify(filterdata);
                    var querydata = $.extend({ filters: filterstr }, this.querydata);
                    var url = "/My/Export?v=1&" + $.param(querydata);
                    $("#_hidden").attr("src", url + "&_=" + Math.random());
                },
                showqrcode: function (code) {
                    $("#qrcode").html('');
                    jQuery('#qrcode').qrcode({text:"http://1.jn99.net/"+code});
                    //页面层
                    layer.open({
                        type: 1,
                        title: false, //不显示标题
                        skin: 'layui-layer-rim', //加上边框
                        area: ['320px', '240px'], //宽高
                        content: $("#qrcode")
                    });
                }
            },
            computed: {
            }
        })
    </script>
}
